/* Dashboard table */
.data-row {
    cursor: pointer;
}

.dashboard-table {
    font-size: 0.9rem;
    width: 100%;
}

.dashboard-table tr:nth-of-type(3) td {
    border-top: 1px solid black;
}

.dashboard-table td {
    padding: 0.5rem;  
    color: #14234b;
    border-top: 1px solid #ddd;
}

.dashboard-table th {
    text-align: left;
    padding: 0 0.5rem 0.5rem;
    color: #14234b;
    font-weight: 600;
    background-color: white;
}

.selected {
    background-color: #ffdb13;
}

.selected td {
    border-color: white;
}

.dashboard-table tr:hover {
    background-color: #ffeacc;
}

/* Loading */
.loader {
    margin: 3rem auto 3rem;
    text-align: center;
}
  
.loader div {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.1rem;
    border-radius: 100%;
    background-color: #14234b;
    display: inline-block;
    animation: grow 1.4s infinite ease-in-out;
}
  
.loader div:nth-of-type(1) {
    animation-delay: -0.32s;
}
  
.loader div:nth-of-type(2) {
    animation-delay: -0.16s;
}

@keyframes grow {
    0%, 100% { 
        transform: scale(0);
    } 50% { 
        transform: scale(1);
    }
}
